@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(70deg, blue, pink);
}

body h2 {
  color: black;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 90%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c4c3cb;
  color: black;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}


html {
  height: 100%;
  width: 100%;
}

.finish button {
  text-align: center;
}

.correctanswer {
  background: green;
}

.incorrectanswer {
  background: red;
}

a {
  
  text-align: start;
  padding: 5px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d3c0cc;
  color: black;
}

a:hover {
  background-color: #95589d;
  color: #050505